body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
}

footer {
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px;
	width: 100%;
}

/* Spacing between the footer and the table */
table {
	margin-bottom: 30px;
}

/* Style for title and buttons */
.titulo {
	text-align: center;
	margin-bottom: 20px;
	color: white;
	background-color: black;
	padding: 10px;
}

/* Style for buttons */
.botoes {
	text-align: center;
	margin-bottom: 30px;
}

.botoes a {
	margin-right: 10px;
}

#searchGroup {
	margin-top: 30px;
}

.select2-container--bootstrap452 {
	width: 100%;
}

.select2-container--bootstrap452 .select2-selection--single {
	height: calc(2.25rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}